table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #f3f3f3;
}
